.projectCard {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 60vw;
    background-color: rgb(194, 194, 194);
    padding: 10px;
    border-radius: 20px;
    margin-top: 20px;
    transition: width 0.5s;
}

.projectCard:hover {
    width: 65vw;
    transition: width 0.5s;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.infoContent {
    display: flex;
    flex-direction: column;
    width: 40vw;
}

.image * {
    border-radius: 20px;
    width: 220px;
    height: 200px;
}

.techUsed {
    display: flex;
    flex-direction: row;
    justify-content: left;
}

.techUsed * {
    margin-left: 5px;
    margin-right: 5px;
}